.*
*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

!.github
!.run
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

# from test projects:
/static/
/media/
*.sqlite3
*.json

# Include "ignored" *.json:
!**/fixtures/*.json

# Django
# Include all test snapshot files:
!**/*.snapshot.*
secret.txt

