.*
!.github
!.run
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

# This is a library and not a project, so we don't need to track the lock file:
uv.lock

*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

# from test projects:
/static/
/media/
*.sqlite3
*.json

# Include "ignored" *.json:
!**/fixtures/*.json

# Django
# Include all test snapshot files:
!**/*.snapshot.*
secret.txt

